.DarkMode {
    background-color: var(--darkBlue);
}

.Header__title--DarkMode,
.CharactersItem__darkmode,
.FavoritesItem__darkmode,
.Characters__search--darkmode {
    color: var(--almostWhite);
}

.CharactersItem__darkmode div:last-child:not(.CharactersItem__title),
.FavoritesItem__darkmode div:last-child:not(.FavoritesItem__title){
    background-color: var(--mediumBlue);
}