.LightMode {
    background-color: var(--white);
}

.Header__title--LightMode,
.CharactersItem__lightMode,
.FavoritesItem__lightmode,
.Characters__search--lightmode {
    color: var(--darkBlue);
}

.CharactersItem__lightmode div:last-child:not(.CharactersItem__title) ,
.FavoritesItem__lightmode div:last-child:not(.FavoritesItem__title) {
    background-color: var(--almostWhite);
}