.Header__title--LightMode {
    color: var(--darkMode);
}

.Characters__LightMode div {
    background-color: var(--almostWhite);
}

.Characters__LightMode h2,
.Characters__LightMode p {
    color: var(--darkMode);
}

