:root {
    --white: #ffffff;
    --almostWhite: #f7f5f5;
    --lightGray: #dddddd;
    --mediumBlue: #30475e;
    --darkBlue: #222831;
    --secondary: #f05454;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
}